
html,body{
	margin: 0;
	padding: 0;
	background-color:#301a41;
	color: white;
	font-family: Verdana;
	font-family: "Noto Mono";
	font-size: 15px;
}

html::-webkit-scrollbar{
	display: none;
}
html{
	-ms-overflow-style: none;
	scrollbar-width: none;
}


h1,h3{
	margin: 0;
	padding: 0;
}

#top{
	text-align: center;
	padding: 12px 0;
	background-color: #7f4174;
}
#top > h1{
	text-shadow: -1px -1px 4px rgba(0,0,0,0.6);
}
#top, #menu_bar, #footer{
	min-width: 1000px;
}

.buttons a{
	border-radius: 4px;
	display: block;
	padding: 10px;
	background-color: white;
	text-align: center;
	color: rgb(68,45,97);
	text-decoration: none;
	box-shadow:
		4px 4px #999,
	3.5px 3.5px #999,
		3px 3px #999,
	2.5px 2.5px #999,
		2px 2px #999,
	1.5px 1.5px #999,
		1px 1px #999,
	0.5px 0.5px #999,
	1px 1px 6px rgba(0,0,0,1),
	4px 4px 0px 2.5px #301a41;
	
}
	.buttons a:hover{
		background-color: #e5e5e5;
		color: #4477ff;
	}
	.buttons a:active{
		background-color: #e5e5e5;
		box-shadow: 
			1px 1px #999,
		0.5px 0.5px #999,
		1px 1px 0px 2.5px #301a41;
		transform: translate(3px,3px);
	}
	.buttons ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	.floating_buttons li{
		float: left;
	}

#menu_bar{
	background-color: #6b3b64;
	border-top: 2px dashed #301a41;
	border-bottom: 2px dashed #301a41;
	padding: 2px 0 5px 0;
	/* 
	position: sticky;
	top: 0px;
	z-index: 101;
	 */
}
#menu_bar #menu{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
	#menu_bar a{
		margin: 10px 10px;
		width: 200px;
	}
	

#content{
	width: 1000px;
	margin: 0 auto;
	display: flex;
}
	#nav{
		width: 275px;
		margin: 30px 15px 30px 30px;

		/* position: sticky; */
		/* top: 4px; */ 			/*in case top menu is sticky*/
		/* z-index: 100; */
		/*top:-69px;*/ 				/*in case top menu wouldnt be sticky*/
		
		padding-bottom: auto;
	}

	.nav_div{
		padding: 22px 30px;
	}
	.nav_dashed{
		border-bottom: 2px dashed #301a41;
	}
	#nav_links {
		border-bottom: 2px dashed #301a41;
		/* margin-bottom: 30px;
		padding-bottom: 30px; */
		position: sticky;
		top: 0;
		z-index: 100;
	}
	#nav a{
		width: 195px;
		margin-bottom: 10px;
	}
	/* #nav li:last-child a{
		margin: 0;
	} */

	@media only screen and (max-height: 555px) {
		#nav_links{
			height: 90.5vh;
			overflow-y: scroll;
			overflow-x: hidden;
			padding-right: 40px;
		}
		#nav a{
			width: 185px;
			
		}
		#nav ul{
			width: 205px;
		}
		/*
		#nav::-webkit-scrollbar{
			display: none;
		}
		#nav{
			-ms-overflow-style: none;
			scrollbar-width: none;
		}
		 */
		 
		/* W3school 'How To Create Custom Scrollbars' Example: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
		/* width */
		#nav_links::-webkit-scrollbar {
			width: 10px;
		}
		
		/* Track */
		#nav_links::-webkit-scrollbar-track {
			background: #5a3254; 
		}
		
		/* Handle */
		#nav_links::-webkit-scrollbar-thumb {
			background: #42253e; 
		}
		
		/* Handle on hover */
		#nav_links::-webkit-scrollbar-thumb:hover {
			background: #361e33; 
		}
	}
		

	.main_content{
		background-color: #6b3b64;
		color: white;
		border-radius: 4px;
		box-shadow: -1px -1px 12px 5px rgba(0, 0, 0, 0.3);
	}
	
	#flex_boxes{
		width: 680px;
		position: sticky;
		top: 0px;
		z-index: 99;
	}
		/* #flex_boxes > .flex_box:last-child{
			height: 65vh;
		} */
		
		.flex_box{
			scroll-margin-top: 30px; /*sets the margin after using href="#id" link*/
			display: flex;
			margin: 30px 30px 30px 15px;
			width: 635px;
		}
			.flex_left{
				width: 215px;
				text-align: center;
				
				border-right: 2px dashed #301a41;
			}
				img.anime_img {
					width: 154px;
					height: auto;
					margin: 22px 30px;
					box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.3);
				}

			.flex_right{
				width: 360298.75px;
				margin: 22px 30px;
			}
				.flex_right h3{
					margin-bottom: 17px;
				}
				.flex_right a{
					margin: 5px;
					width: 59.6875px;
				}
				/* Not Working :(
				#flex_boxes .flex_box .flex_right > ul > li > a:visited{
					background-color: #d8d8d8;
					box-shadow: 
						1px 1px #999,
					0.5px 0.5px #999,
					1px 1px 0px 2.5px #301a41;
					transform: translate(3px,3px);
				}
				*/
				.flex_right a:visited{
					background-color: #d8d8d8;
				}
				#Kizu a,#Neko a, #Tsuki a, #Ovari2 a, #ZokuOvari a, #Hana a{
					width: 329px;
				}
				/*
				#Ovari1 li:nth-child(-n+2) a, #Ovari1 li:nth-child(n+7) a{ (-n+4) selects first four childs --- (n+5) would select all insted first four <- it selects 5 and above!!!
					width: 149.375px;
				}
				*/
				#MonoS2 a{
					width: 35.4583px;
					padding: 10px 7.005px;
				}

#footer{
	margin: 0;
	padding: 2px 0;
	background-color: #6a5080;
	color: #d2474a;
	text-shadow: 1px 1px #3f0712;
}
#footer_text{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}
